
include ../../components/mixinForms.pug
.wrappper
    .formSection
        
        +textfield("Text Field","Email","default")
        +textfield("Text Field","This is pretty awesome","hover / focus")
        +dropDown("dropdown","default","1","2")
        +masked("masked text field")
        +dateDropdown("date dropdown")
        +filterDate("filter date dropdown")
        +subscriptionTextField("subscription text field","Email")


    .wrapperCheck
       
        .checkboxSection
            +Checkbox
                
        .checkboxSection
            +radio
        .checkboxSection
            +toggle
                
        .checkboxSection
            +likeButton
        .checkboxSection
            p.form__label="rate button"
            div(class="rate__wrap")
                +rate("a","1")
                +rate("b","2")
    .wrapperButtons
        +slider 
        .checkboxSection
            p.form__label="buttons"
            .wrapButton
                .wrapOne
                    +buttonFilled
                    button(class="button button_filled button_active")="CLICK ME"
                .wrapOne    
                    +buttonRegular   
                    button(class="button button_regular button_active_reg")="CLICK ME"
                .wrapOne
                    +buttonEase
                    button(class="button button_ease button_active_ease ")="CLICK ME"
                .wrapOne
                    button(class="button button_filled button_filled_long ")="перейти к оплате "
                        div(class="button__arrow")
                
        
               
                    

                

          
                          
                    

                                
               



                    
               
         
                
     
                
            
                
            
           


                









        

                