<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        
        title Document
    body
        select(id="my-select")
            option(value="")="Choose A Language"
            option(value="js")="JavaScript"
            option(value="py")="Python"
            option(value="rb")="Ruby"
            option(value="go")="Golang"
    

    


